body
{
    background-image: linear-gradient(to bottom, rgba(0, 106, 255, 1), rgba(0, 244, 255, 1)) ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* main section */
.main_box
{
    width: 90%;
    height: 3300px;
    margin: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin: auto;
}
/* main sub-section */
#section_prayer,
#section_penance,
#section_reading_holy_scripture,
#section_spiritual_fasting,
#section_serious_life
{
    background-color: brown;
    height: 650px;
    width: 100%;
    border-radius: 15px;
    border: 4px black outset;
    border-right: none;
    overflow-y: scroll;
    overflow-x: none;
}
/* txt section */
#txt_section_prayer,
#txt_section_penance,
#txt_section_reading_holy_scripture,
#txt_section_spiritual_fasting,
#txt_section_serious_life
{
    text-align: center;
    font-size: 21px;

}
/* areatxt section */
#areatxt_section_prayer,
#areatxt_section_penance,
#areatxt_section_reading_holy_scripture,
#areatxt_section_spiritual_fasting,
#areatxt_section_serious_life
{
    font-size: 21px;
    text-align: left;
}
/* section of list */
#list_prayer
{
    display: flex;
    font-size: 21px;
    margin-left: auto;
    border: 3px black solid;
    border-radius: 5px;
    
}
#list_prayer li
{
    margin-right: 35px;
    
}
/* section of table */
#table_reading_holy_scripture #table_title
{
    text-align: center;
    font-size: 24px;
    
}
#table_reading_holy_scripture td
{
    border: 2px black solid;
}       