body
{
    background-image: url(pexels-pixabay-261403.jpg);
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* main section */
.main_box
{
    background-color: darkkhaki;
    width: 75%;
    height: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
/* main sub-section */
#section_prayer
{
    background-color: brown;
    height: 360px;
    width: 100%;
}
#section_penance
{
    background-color: brown;
    height: 360px;
    width: 100%;
}
#section_reading_holy_scripture
{
    background-color: brown;
    height: 360px;
    width: 100%;
}
#section_spiritual_fasting
{
    background-color: brown;
    height: 360px;
    width: 100%;
}
#section_serious_life
{
    background-color: brown;
    height: 360px;
    width: 100%;
}
/* txt section */
#txt_section_prayer
{

}
#txt_section_penance
{

}
#txt_section_reading_holy_scripture
{

}
#txt_section_spiritual_fasting
{
    
}
#txt_section_serious_life
{

}
